{% extends 'donations/tabs.html' %}
{% load static %}

{% block tab_content %}

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header d-flex align-items-center justify-content-between">
				<h4 class="card-title">Donations</h4>
			</div>
			<div class="card-body">
				<div>
					<table class="table">
						<thead class=" text-primary">
							<th>
								Posted on
							</th>
							<th>
								User name
							</th>
							<th>
								Location
							</th>
							<th>
								Blood type
							</th>
							<th>
								Quantity
							</th>
							<th>
								Description
							</th>
							<th>
								Attachments
							</th>
							<th>
								Donated on
							</th>
						</thead>
						<tbody>
							<tr>
								<td>
									1 day ago
								</td>
								<td>
									John Doe
								</td>
								<td>
									USA
								</td>
								<td>
									A+
								</td>
								<td>
									100 ml
								</td>
								<td>
									Description
								</td>
								<td>
									<a href="">Show document</a>
								</td>
								<td>
									1 days ago
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock tab_content %}