{% extends 'requirements/tabs.html' %}
{% load static %}

{% block tab_content %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header d-flex align-items-center justify-content-between">
				<h4 class="card-title">Requirements</h4>
				<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Post a requirement</button>
			</div>
			<div class="card-body">
				<div id="requirements-grid"></div>
			</div>
		</div>
	</div>
</div>
{% endblock tab_content %}
{% block js_files %}
<script src="{% static '/js/main/requirements.js' %}"></script>
{% endblock js_files %}