{% extends 'sidebar.html' %}
{% load static %}

{% block dashboard_content %}
<div class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-user">
				<div class="card-header">
					<h5 class="card-title">About Us</h5>
				</div>
				<div class="card-body">
                    <p>Blood banks play an important role in the process of collecting blood and managing blood stocks, approving blood requests, updating donations and updating available blood types. BB Management will address the issues and problems encountered in collecting information about donors, blood camps, inventories of blood bags, and blood transfusion services, etc, including donor screening, inventory management, blood ordering, blood usage review and compatibility testing. Blood Bank Management system will greatly increase the safety and quality of the blood supply as well as provide logistics data for the optimal supply chain management.</p>
                    <hr class="solid">
                    <div>
                        <h6>Features</h6>
                        <ul>
                            <li> Ensures hospitals have good supply or inventories of blood bags. </li>
                            <li> List the availability of blood bags at any given time. </li>
                            <li> Ability to manage the information of its blood donor. </li>
                            <li> Support fast searching to find match blood bags for the right person. </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock dashboard_content %}