{% extends 'sidebar.html' %}
{% load static %}

{% block dashboard_content %}
	<div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card p-3">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="card-title">Donation Requests</h4>
                    </div>
                    <div id="donation-requests-grid"></div>
                </div>
            </div>
        </div>
	</div>
{% endblock dashboard_content %}
{% block js_files %}
<script src="{% static '/js/main/donation-request.js' %}"></script>
{% endblock js_files %}
{% block js_content %}
donationRequestsGrid({{donation_requests|safe}})
{% endblock js_content %}