{% extends 'sidebar.html' %}
{% load static %}

{% block dashboard_content %}

<div class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-user">
				<div class="card-header">
					<h5 class="card-title">Edit Profile</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" class="form-control" placeholder="Company" value="Chet">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" class="form-control" placeholder="Last Name" value="Faker">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Address</label>
									<input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>City</label>
									<input type="text" class="form-control" placeholder="City" value="Melbourne">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Country</label>
									<input type="text" class="form-control" placeholder="Country" value="Australia">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Postal Code</label>
									<input type="number" class="form-control" placeholder="ZIP Code">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="update ml-auto mr-auto">
								<button type="submit" class="btn btn-primary btn-round">Update Profile</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock dashboard_content %}